# Block direct access to the plugin files except depixplugin.php
<FilesMatch "^(depixplugin\.php)$">
    Allow from all
</FilesMatch>
<FilesMatch ".*">
    Deny from all
</FilesMatch>

# Protect sensitive files
<FilesMatch "\.(htaccess|htpasswd|ini|log|conf|env)$">
    Order allow,deny
    Deny from all
</FilesMatch>

# Prevent directory listing
Options -Indexes